USE [OrnekSiteDB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Resim](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[URL] [varchar](300) NOT NULL,
	[EklemeTarihi] [datetime] NULL,
	[Aciklama] [varchar](200) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Resim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SabitBilgi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Kod] [varchar](10) NOT NULL,
	[Isim] [varchar](100) NOT NULL,
	[Deger] [varchar](200) NOT NULL,
	[AktifMi] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SabitBilgi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Yazi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [varchar](50) NOT NULL,
	[Metin] [text] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[EklemeTarihi] [datetime] NULL,
 CONSTRAINT [PK_dbo.Yazi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Yorum](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Metin] [varchar](150) NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[EklemeTarihi] [datetime] NOT NULL,
	[AktifMi] [bit] NOT NULL,
	[YaziID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Yorum] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Yorum]  WITH CHECK ADD  CONSTRAINT [Yazi_Yorum] FOREIGN KEY([YaziID])
REFERENCES [dbo].[Yazi] ([ID])
GO
ALTER TABLE [dbo].[Yorum] CHECK CONSTRAINT [Yazi_Yorum]
GO
